server {
  listen ${NGINX_PORT};

  location / {
    root /usr/share/nginx/html/;
    include /etc/nginx/mime.types;
    try_files $uri $uri/ /index.html;
    }
  
  location /api/models {
    proxy_pass ${PROXY_PASS};
    }
}